    <section class="relative">
      <div class="container bg-[url('wii-sports.gif')] bg-cover h-[20rem] items-center gap-12 mt-12 lg:mt-21">
        <!-- Content -->
        <div class="items-center lg:items-start mt-[205px]">
          <h2 class="text-bookmark-blue text-3xl md:text-4 lg:text-5xl text-center mb-4">
            Welcome to
          </h2>
          <h1 class="text-bookmark-blue text-3xl md:text-4 lg:text-5xl font-bold text-center mb-4">SportX</h1>
          <p class="text-bookmark-grey text-lg text-center mb-2">
            A clean and simple interface to organize or register your favourite sports.
          </p>
          <div class="flex justify-center flex-wrap gap-6">
           <a href="/events">
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-grey">
              Go to Event
            </button>
           </a>
           <a href="/collabs"> 
            <button type="button" class="btn btn-white hover:bg-bookmark-purple hover:text-white">
              Get to Collab
            </button>
           </a> 
          </div>
        </div>
        <!-- Image -->
      </div>
    </section>

    <section class="bg-bookmark-white py-20 mt-20 lg:mt-60">
      <!-- Heading -->
      <div class="sm:w-3/4 lg:w-5/12 mx-auto px-2">
        <h1 class="text-3xl text-center text-bookmark-blue">Features</h1>
        <p class="text-center text-bookmark-grey mt-4">
          Our aim is to make it quick and easy for you to access your favourite websites. Your bookmarks sync between
          your devices so you can access them on the go.
        </p>
      </div>
      <!-- Feature #1 -->
      <div class="relative mt-20 lg:mt-24">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="https://i.pinimg.com/736x/9b/8f/e3/9b8fe3a31bc7c0e8e97317cd39ba9861.jpg"
              alt=""
            />
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">Events</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
              Select your favourite sports however you like. Our simple choose specific events interface whatever you like 
              to join event for the future.
            </p>
            <a href="/events">
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">Go to Events</button>
            </a>
          </div>
        </div>

      </div>
      <!-- Feature #2 -->
      <div class="relative mt-20 lg:mt-52">
        <div class="container flex flex-col lg:flex-row-reverse items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="https://previews.123rf.com/images/peshkova/peshkova1801/peshkova180100101/92675163-handshake-on-abstract-city-background-teamwork-and-collaboration-concept-double-exposure.jpg"
              alt=""
            />
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">Collaboration</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
              Support collaboration to archive goals for donations 
            </p>
            <a href="/collabs">
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">Go to collaboration</button>
            </a>
          </div>
        </div>

      </div>
      <!-- Feature #3 -->
      <div class="relative mt-20 lg:mt-52">
        <div class="container flex flex-col lg:flex-row items-center justify-center gap-x-24">
          <!-- Image -->
          <div class="flex flex-1 justify-center z-10 mb-10 lg:mb-0">
            <img
              class="w-5/6 h-5/6 sm:w-3/4 sm:h-3/4 md:w-full md:h-full"
              src="https://media.istockphoto.com/photos/football-fans-excited-picture-id1164591021?b=1&k=20&m=1164591021&s=170667a&w=0&h=T034pxhpJXEqIGYOOu6PVKRxLkeHcAP0UpBF1a5Ib7E="
              alt=""
            />
          </div>
          <!-- Content -->
          <div class="flex flex-1 flex-col items-center lg:items-start">
            <h1 class="text-3xl text-bookmark-blue">Results</h1>
            <p class="text-bookmark-grey my-4 text-center lg:text-left sm:w-3/4 lg:w-full">
             To showing result for finished events
            </p>
            <a href="/results">
            <button type="button" class="btn btn-purple hover:bg-bookmark-white hover:text-black">Go to results</button>
            </a>
          </div>
        </div>

      </div>
    </section>