<% flash.each do |type, msg| %>
  <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative font-bold">
    <%= msg %>
  </div>
<% end %>

<div class="relative container mx-auto">
  <h1 class="text-center text-4xl font-extrabold my-4">Contact Us</h1>


    <div class="mx-auto my-2 text-center">
       <h1 class="italic text-2xl">Thank you contacting us for support </h1><br>
       <h1 class="font-semibold text-3xl">We will remind your email for the future </h1>
    </div>

    <div class="static flex justify-center mx-auto pb-10 mt-48">
    <img class="h-28 w-auto scale-[3.5]" src="/assets/worker_true.png">
    </div>
</div>
