h1 Welcome #{current_user.email}
.mt-6.px-4.gap-3.grid.grid-cols-1.sm:grid-cols-2.lg:grid-cols-4

  <div class="stats shadow group hover:bg-blue-400">
      <div class="stat">
        <div class="stat-title group-hover:text-white">Total user</div>
        <div class="stat-value group-hover:text-white">#{@users}</div>
        <div class="stat-desc group-hover:text-white">21% more than last month</div>
      </div>
  </div>

  <div class="stats shadow group hover:bg-blue-400">
      <div class="stat">
        <div class="stat-title group-hover:text-white">Total Ongoing Event</div>
        <div class="stat-value group-hover:text-white">#{@events}</div>
        <div class="stat-desc group-hover:text-white">21% more than last month</div>
      </div>
  </div>

  <div class="stats shadow group hover:bg-blue-400">
    <div class="stat">
      <div class="stat-title group-hover:text-white">Total Participants</div>
      <div class="stat-value group-hover:text-white">#{@participants}</div>
      <div class="stat-desc group-hover:text-white">21% more than last month</div>
    </div>
  </div>

  <div class="stats shadow group hover:bg-blue-400">
    <div class="stat">
      <div class="stat-title group-hover:text-white">Total collaboration</div>
      <div class="stat-value group-hover:text-white">#{@collaborations}</div>
      <div class="stat-desc group-hover:text-white">21% more than last month</div>
    </div>
  </div>