h1 Welcome #{current_admin.email}
.mt-6.px-4.gap-3.grid.grid-cols-1.sm:grid-cols-2.lg:grid-cols-4

  <div class="stats shadow">
    <div class="stat">
      <div class="stat-title">Total user</div>
      <div class="stat-value">#{@users}</div>
      <div class="stat-desc">21% more than last month</div>
    </div>
  </div>

  <div class="stats shadow">
    <div class="stat">
      <div class="stat-title">Total Ongoing Event</div>
      <div class="stat-value">#{@events}</div>
      <div class="stat-desc">21% more than last month</div>
    </div>
  </div>

  <div class="stats shadow">
    <div class="stat">
      <div class="stat-title">Total Participants</div>
      <div class="stat-value">#{@participants}</div>
      <div class="stat-desc">21% more than last month</div>
    </div>
  </div>

  <div class="stats shadow">
    <div class="stat">
      <div class="stat-title">Total collaboration</div>
      <div class="stat-value">#{@collaborations}</div>
      <div class="stat-desc">21% more than last month</div>
    </div>
  </div>