/ h5.text-3xl.m-6
/   | Welcome
/   span.font-extrabold.ml-1 #{current_admin.email}

/ .mt-6.px-4.gap-3.grid.grid-cols-1.sm:grid-cols-2.lg:grid-cols-4
/   .stats.shadow-md.bg-base-300
/     .stat
/       .stat-figure.text-primary
/       .stat-value 1
/       .stat-title Incoming Event
/       .stat-desc.text-primary Updated on
